extends ./layout/index.pug

block contenido
    main.container.mt-5 
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="nosotros imagen", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tristique felis eget porttitor luctus. Vestibulum pulvinar arcu sed dui ornare vehicula. Mauris molestie nisl et justo dictum, vitae tristique diam porttitor. Quisque semper mauris vel diam tincidunt tempus. Vivamus quam orci, efficitur in pulvinar a, fermentum in urna. Ut in sapien feugiat, laoreet elit vel, aliquam massa. Quisque tempus sapien vel nulla iaculis sollicitudin.

                p Nulla viverra id nisi sit amet sollicitudin. Maecenas tristique convallis tortor, sit amet euismod diam mattis ac. Quisque venenatis erat nisi. Suspendisse orci eros, vestibulum ut libero id, cursus volutpat dui. Donec placerat vitae libero viverra maximus. Nullam bibendum metus nisl, a commodo lorem maximus vulputate. Quisque vel varius mi. Nulla varius ante nec est hendrerit pellentesque. Nullam eu justo varius elit placerat consequat. Suspendisse porta leo vel risus lobortis interdum. Maecenas dapibus tristique est id pellentesque. Pellentesque pellentesque lorem ut commodo varius. Nullam feugiat, erat non ullamcorper gravida, ipsum neque tincidunt lacus, sit amet sagittis tortor tortor nec lectus. Sed urna purus, commodo sit amet turpis eget, pharetra congue risus.
                p Mauris tempor tortor at urna tristique pulvinar. Suspendisse vestibulum risus quam, sit amet varius purus tristique ut.
                
    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Mauris tempor tortor at urna tristique pulvinar. Suspendisse vestibulum risus quam, sit amet varius purus tristique ut. Nam nec velit eu neque semper feugiat non sit amet lacus. Maecenas eget bibendum neque.
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Mauris tempor tortor at urna tristique pulvinar. Suspendisse vestibulum risus quam, sit amet varius purus tristique ut. Nam nec velit eu neque semper feugiat non sit amet lacus. Maecenas eget bibendum neque.
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p Mauris tempor tortor at urna tristique pulvinar. Suspendisse vestibulum risus quam, sit amet varius purus tristique ut. Nam nec velit eu neque semper feugiat non sit amet lacus. Maecenas eget bibendum neque.
                    